<footer class="footer">
    <p>
        <i class="fa fa-copyright" aria-hidden="true"></i> 2018 Offering Solutions
        <small *ngIf="platformInformationProvider.isElectron"> - running on desktop CPU (%): {{percentage}}</small>
        <small *ngIf="platformInformationProvider.isMobileDevice"> - running on mobile {{platformInformationProvider.platformName}}</small>
        <small *ngIf="platformInformationProvider.isWeb"> - running on web {{platformInformationProvider.userAgent}}</small>
    </p>
</footer>