AngularJS-Client/.dist
AngularJS-Client/node_modules/
Server/ASP.NET/FoodAPI/obj
Server/ASP.NET/FoodAPI/bin
Server/ASP.NET/packages
Server/ASP.NETCore/src/FoodAPICore/obj
Server/ASP.NET/.vs
Server/ASP.NET/FoodAPI/Properties/PublishProfiles
Server/ASP.NETCore/.vs
Server/ASP.NETCore/src/FoodAPICore/bin
AngularJS-Client/.vscode/
Server/ASP.NETCore/src/FoodAPICore/appsettings.production.json
Server/ASP.NETCore/src/FoodAPICore/Properties/PublishProfiles/
