<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Type to search..." ng-model="$ctrl.searchPattern">
      </div>      
    </div>
  </form>


<table class="table">
    <tr>
        <th>
            <a href="" data-ng-click="sortType = 'Name'; sortReverse=!sortReverse">Name</a>
        </th>
        <th>
            <a href="" data-ng-click="sortType = 'Calories'; sortReverse=!sortReverse">Calories</a>
        </th>
        <th class="text-right">Actions</th>
    </tr>

    <tr data-ng-repeat="food in $ctrl.foods | orderBy:sortType:sortReverse | filter:$ctrl.searchPattern track by $index">
        <td class="text-left">
            {{food.name}}
        </td>
        <td class="text-left">
            {{food.calories}}
        </td>
        <td class="text-right">
            <button data-ng-click="$ctrl.deleteFood(food)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            <button data-ng-click="$ctrl.setFoodItemForEdit(food)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button>
            <a ui-sref="food({id: food.id})" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span> Details</a>
        </td>
    </tr>
</table>