<div class="container">
	<div class="jumbotron starter-template">
		<h2>Your meal for today</h2>

		<h3 *ngIf="isWorking">Getting your food suggestions<br />Please wait...</h3>
		<h3 *ngIf="!randomFood && !isWorking">No food found :-(<br /><br /></h3>

		<randomMeal [fooditem]="randomFood[0]"></randomMeal>
		<randomMeal [fooditem]="randomFood[1]"></randomMeal>
		<randomMeal [fooditem]="randomFood[2]"></randomMeal>
		<br/>
		<button type="button" class="btn btn-primary" (click)="updateFood()">Get new Meal</button>
	</div>



	<div class="container">
		<div class="row">
			<div class="thumbnails">
				<div class="col-md-4" *ngFor="let foodItem of (allFood|async)">
					<sneakpeek [foodItem]="foodItem"></sneakpeek>
				</div>
			</div>
		</div>
	</div>

	<!-- Site footer -->
	<footer class="footer">
		<p>
			<i class="fa fa-copyright" aria-hidden="true"></i> 2017 Offering Solutions
			<small *ngIf="platformInformationProvider.isElectron"> - CPU (%): {{percentage}}</small>
			<small *ngIf="platformInformationProvider.isMobileDevice"> - running on {{platformInformationProvider.platformName}}</small>
		</p>
	</footer>

</div>
<!-- /.container -->