

<div class="container">
    <div class="jumbotron starter-template">
        <h1>Random Food</h1>

        <h2 *ngIf="isWorking">Getting your food suggestions<br />Please wait...</h2>
        <h2 *ngIf="!selectedFood && !isWorking">No food found<br />:-(<br /><br /></h2>
        <h2 *ngIf="selectedFood && !isWorking" [innerText]="selectedFood.name"></h2>
        <h2 *ngIf="selectedFood && !isWorking" [innerText]="selectedFood.calories"></h2>
        <h3 *ngIf="selectedFood && !isWorking" [innerText]="lastUpdatedDate | date:'medium'"></h3>

        <button type="button" class="btn btn-primary" (click)="updateFood()">Get new Food</button>
    </div>

</div>
<!-- /.container -->