<form data-ng-submit="$ctrl.saveFood()" name="foodForm">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Foodname" ng-model="$ctrl.food.name" required ng-minlength="3">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Calories</label>
        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Calories" ng-model="$ctrl.food.calories" required>
    </div>
    <button type="submit" class="btn btn-success" ng-disabled="foodForm.$invalid">Submit</button>
</form>