<?xml version="1.0" encoding="utf-8"?>
    <widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="offering.solutions" version="0.0.1">
    <name>eMeal</name>
    <description>
        A small demo app to give yoou FoodSuggestions
    </description>
    <author email="mail@offering.solutions" href="https://fabian-gosebrink.com">
        offering.Solutions
    </author>
    
    <content src="index.html"/>

    <!--<plugin name="cordova-plugin-device" spec="~1.1.5"/>-->
    <!-- <plugin name="cordova-plugin-whitelist" version="1.2.2"/>
    <plugin name="cordova-plugin-splashscreen" spec="3.2.2"/>
    <plugin name="cordova-plugin-statusbar" spec="https://github.com/apache/cordova-plugin-statusbar.git"/>
    <plugin name="cordova-plugin-camera" spec="2.4.0"/>
    <plugin name="cordova-plugin-device" spec="1.1.6"/> -->

    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <plugin name="cordova-plugin-wkwebview-engine" spec="https://github.com/driftyco/cordova-plugin-wkwebview-engine.git"/>
    <plugin name="cordova-plugin-device" spec="~1.1.5"/>
    <plugin name="cordova-plugin-statusbar" spec="~2.2.2"/>
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.2"/>
    <plugin name="cordova-plugin-camera" spec="~2.4.0"/>
    <plugin name="cordova-plugin-crosswalk-webview" spec="~2.3.0">
        <variable name="XWALK_VERSION" value="22+"/>
        <variable name="XWALK_LITEVERSION" value="xwalk_core_library_canary:17+"/>
        <variable name="XWALK_COMMANDLINE" value="--disable-pull-to-refresh-effect"/>
        <variable name="XWALK_MODE" value="embedded"/>
        <variable name="XWALK_MULTIPLEAPK" value="true"/>
    </plugin>
    <access origin="*"/>
    <!--<allow-navigation href="*" />-->
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine"/>

    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="Fullscreen" value="false"/>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenBackgroundColor" value="white"/>
    <preference name="SplashScreen" value="screen"/>
<preference name="windows-target-version" value="10.0" />
  <engine name="android" spec="~6.2.0"/>
  <engine name="windows" spec="~5.0.0"/>
</widget>
