<div class="text-center">
  <form class="form-signin" (ngSubmit)="doLoginUser()" #f="ngForm">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputName" class="sr-only">Username</label>
    <input
      type="text"
      id="inputName"
      name="username"
      class="form-control"
      placeholder="Username"
      required
      autofocus
      [(ngModel)]="username"
      #name="ngModel"
    />
    <div
      *ngIf="name.errors?.required && (name?.dirty && !f.submitted)"
      class="alert alert-danger"
    >
      *
    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required
      name="password"
      [(ngModel)]="password"
      #pwd="ngModel"
    />
    <div
      *ngIf="pwd.errors?.required && (pwd?.dirty && !f.submitted)"
      class="alert alert-danger"
    >
      *
    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      [disabled]="!f?.valid || f?.pending"
    >
      Sign in
    </button>

    <div *ngIf="(pending$ | async)">
      <br />
      <div class="alert alert-info">
        Please wait...
      </div>
    </div>
  </form>
</div>
