<div class="signin-body">

    <div class="alert alert-danger" *ngIf="errorMessage">
        <strong>Error!</strong> {{errorMessage}}
    </div>

    <form class="form-signin" (ngSubmit)="doLoginUser()" #f="ngForm">
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" name="username" ngControl="username" class="form-control" placeholder="Username" required
            autofocus [(ngModel)]="username">

        <div *ngIf="f?.controls['username']?.hasError('required') && !f?.controls['username']?.pending && f?.controls['username']?.touched">
            *
        </div>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" ngControl="password" class="form-control" placeholder="Password"
            required [(ngModel)]="password">

        <div *ngIf="f?.controls['password']?.hasError('required') && !f?.controls['password']?.pending && f?.controls['password']?.touched">
            *
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f?.valid || f?.pending">Sign in</button>
    </form>
</div>