<form #f="ngForm">

    <div class="form-group">
        <label for="foodName">Name</label>
        <input type="text" name="foodName" class="form-control" id="foodName" placeholder="Foodname"
            [(ngModel)]="foodItem.Name" required #foodName="ngModel">

        <div *ngIf="f?.controls?.foodName?.hasError('required') && f?.controls?.foodName?.dirty" class="alert alert-danger">
            Pflichtfeld!
        </div>
    </div>
    <div class="form-group">
        <label for="calories">Calories</label>
        <input type="text" class="form-control" id="calories" placeholder="Calories" [(ngModel)]="foodItem.Calories"
            required isNumber isInRange name="calories" #calories="ngModel">
        
        <div *ngIf="f?.controls?.calories?.hasError('required') && f?.controls?.calories?.dirty" class="alert alert-danger">
            Pflichtfeld!
        </div>

        <div *ngIf="f?.controls?.calories?.hasError('isNumber') && f?.controls?.calories?.dirty" class="alert alert-danger">
            Bitte gib eine Nummer ein
        </div>

        <div *ngIf="f?.controls?.calories?.hasError('isInRange') && f?.controls?.calories?.dirty" class="alert alert-danger">
            Bitte gib eine Nummer im Integer-Bereich ein
        </div>

        <!--<div *ngIf="calories.errors?.isNumber != null">
            Bitte gib eine Nummer im Integer-Bereich ein 222
        </div>-->
    </div>
    <button type="button" class="btn btn-default" (click)="AddOrUpdateFood()" [disabled]="!f?.valid">Submit</button>
</form>