<form #f="ngForm" novalidate>

    <div class="form-group">
        <label for="foodName">Name</label>
        <input type="text" name="foodName" class="form-control" id="foodName" placeholder="Foodname" [(ngModel)]="currentFood.name"
            required>

        <div *ngIf="f?.controls['foodName']?.hasError('required') && (f?.controls['foodName']?.dirty && !f.submitted)" class="alert alert-danger">
            *
        </div>
    </div>
    <div class="form-group">
        <label for="calories">Calories</label>
        <input type="text" class="form-control" id="calories" placeholder="Calories" [(ngModel)]="currentFood.calories" required
            isNumber isInRange minValue="0" maxValue="2147483647" name="calories">

        <div *ngIf="f?.controls['calories']?.hasError('required') && (f?.controls['calories']?.dirty && !f.submitted)" class="alert alert-danger">
            *
        </div>

        <div *ngIf="f?.controls['calories']?.hasError('isNumber') && (f?.controls['calories']?.dirty  && !f.submitted)" class="alert alert-danger">
            Please enter a number
        </div>

        <div *ngIf="f?.controls['calories']?.hasError('isInRange') && (f?.controls['calories']?.dirty  && !f.submitted)" class="alert alert-danger">
            Please enter a valid number (Integer-Range)
        </div>
    </div>
    <button type="submit" class="btn btn-default" (click)="AddOrUpdateFood(); f.reset()" [disabled]="!f?.valid">Submit</button>
</form>