<form #f="ngForm" novalidate>

    <div [ngClass]="(f?.controls['foodName']?.errors && f?.controls['foodName']?.touched) ? 'form-group has-error' : 'form-group'">
        <label for="foodName">Name</label>
        <input type="text" name="foodName" class="form-control" id="foodName" placeholder="Foodname" [(ngModel)]="currentFood.name"
            required>

        <span *ngIf="f?.controls['foodName']?.hasError('required') && (f?.controls['foodName']?.dirty && !f.submitted)" id="helpBlock"
            class="text-danger">*</span>

    </div>


    <div [ngClass]="(f?.controls['foodType']?.errors && f?.controls['foodType']?.touched) ? 'form-group has-error' : 'form-group'">
        <label for="foodType">Type</label>
        <select class="form-control" required [(ngModel)]="currentFood.type" name="foodType">
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>

    </div>


    <div [ngClass]="(f?.controls['calories']?.errors && f?.controls['calories']?.touched) ? 'form-group has-error' : 'form-group'">
        <label for="calories">Calories</label>
        <input type="text" class="form-control" id="calories" placeholder="Calories" [(ngModel)]="currentFood.calories" required
            isNumber isInRange minValue="0" maxValue="2147483647" name="calories">

        <span *ngIf="f?.controls['calories']?.hasError('required') && (f?.controls['calories']?.dirty && !f.submitted)" class="text-danger">
            *
        </span>

        <span *ngIf="f?.controls['calories']?.hasError('isNumber') && (f?.controls['calories']?.dirty  && !f.submitted)" class="text-danger">
            Please enter a number
        </span>

        <span *ngIf="f?.controls['calories']?.hasError('isInRange') && (f?.controls['calories']?.dirty  && !f.submitted)" class="text-danger">
            Please enter a valid number (Integer-Range)
        </span>
    </div>
    <button type="submit" class="btn btn-success" (click)="AddOrUpdateFood(); f.reset()" [disabled]="!f?.valid">Submit</button>
</form>