<table class="table">
    <tr>
        <th>Name</th>
        <th>Calories</th>
        <th class="text-right">Actions</th>
    </tr>
    <tr *ngFor="let food of foods; let i = index">
        <td class="text-left">
            {{food.Name}}
        </td>
        <td class="text-left">
            {{food.Calories}}
        </td>
        <td class="text-right">
            <button (click)="deleteFood(food)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            <button (click)="setFoodItemForEdit(food)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</button>
            <a [routerLink]="['/food', food.Id]" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-search"></span> Details</a>
        </td>
    </tr>
</table>